
<div class="alert alert-error" ng-show="evaluationCommand.messages.length > 0 && !evaluationCommand.success" ng-repeat="message in evaluationCommand.messages">{{message}}</div>
<div class="alert alert-info" ng-show="evaluationCommand.messages.length > 0 && evaluationCommand.success" ng-repeat="message in evaluationCommand.messages">{{message}}</div>


<form class="form-horizontal">

	<div class="control-group">
		<label class="control-label" for="subject_code">Client</label>

		<div class="controls">
			<input type="text" id="subject_code" ng-model="evaluationCommand.code"
				placeholder="Client" required min="2" name="code">
		</div>
	</div>
	

	<div class="control-group">
		<label class="control-label" for="debt_loan">Desired amount</label>

		<div class="controls">


			<input class="span3" type="number" id="debt_loan"
				ng-model="evaluationCommand.loan" placeholder="Loan" required min="200" max="5000" name="loan">
			<span class="add-on"> LTL</span>
		</div>
	</div>
    
	<div class="control-group">
		<label class="control-label" for="debt_term">Term</label>

		<div class="controls">


			<input class="span3" type="number" id="debt_term"
				ng-model="evaluationCommand.term" placeholder="Term" required min="8" max="100" name="term">
			<span class="add-on"> weeks</span>
		</div>
	</div>


    <div class="control-group">
        <hr />
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-disabled="!evaluationCommand.code || !evaluationCommand.loan || !evaluationCommand.term" ng-click="addNew(evaluationCommand);" name="go">Evaluate</button>
            <button type="button" class="btn" ng-click="resetForm()">Reset</button>
        </div>
    </div>

</form>


<hr />
<h3 ng-show="evaluationCommand.successfullEvaluation.length > 0">Successfully calculated evaluations</h3>
<table class="table table-bordered table-striped" ng-show="evaluationCommand.successfullEvaluation.length > 0">
	<thead>
		<tr>
			<th style="text-align: center; width: 25px;">Id</th>
 			<th style="text-align: center;">Client</th>
 			<th style="text-align: center;">Loan, LTL</th>
 			<th style="text-align: center;">Rate, %</th>
 			<th style="text-align: center;">Term, (Weeks)</th>
 			<th style="text-align: center;">Total pay, LTL</th>
 			<th style="text-align: center;">Weekly pay, LTL</th>
 			<th style="text-align: center;">Last Pay Date</th>
 			<th style="text-align: center;">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in evaluationCommand.successfullEvaluation ">
			<td style="text-align: center;">{{item.id}}</td>
			<td>{{item.code}}</td>
			<td>{{item.loan}}</td>
			<td>{{item.rate}}</td>
			<td>{{item.term}}</td>
			<td><span name="totalPay" >{{item.totalPay}}</span></td>
			<td>{{item.periodicalPay}}</td>
			<td>{{item.lastPayDate}}</td>
				
			<td style="width: 100px; text-align: center;">
				<button class="btn btn-mini btn-success" ng-click="applay(item.id);" id="applayId">Apply for Loan</button>
			</td>
		</tr>
	</tbody>
</table>
